@import 'https://fonts.googleapis.com/css?family=Spicy+Rice|Lato|Satisfy';

.cursive {
  font-family: 'Satisfy', cursive;
}

.header-font {
    font-family: 'Spicy Rice', cursive;
}

/*
.responsive-body-text {
  @media (min-width: 600px) {
    font-size: 118.8%;
  }

  @media (min-width: 800px) {
    font-size: 131.3%;
  }

  @media (min-width: 1030px) {
    font-size: 137.5%;
  }

  @media (min-width: 1250px) {
    font-size: 143.8%;
  }

  @media (min-width: 1400px) {
    font-size: 1.563em;
  }
}
*/
