// Third-party dependencies
@import 'deps/bootstrap';

// Main site
@import 'base';
@import 'fonts';
//@import 'coming_soon';

html {
  width: 100%;
  height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  color: #292f33;
  overflow-x: hidden;
}

.peach-bg {
  background-color: $peach;
}

.purple-bg {
  background-color: $raspberry;
}

.light-blue-bg {
  background-color: $light-blue;
}

.paper-texture-bg {
  background-image: url(#{$imgDir}/paper-2.png);
}

.ring-bg {
  background: url(#{$imgDir}/ring.jpg) no-repeat center center;
  background-color: #b0976f;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: $screen-md) {
    // Trying to fix an iOS issue... kind of works
    background-attachment: scroll;
  }
}

.wall-bg {
  background: url(#{$imgDir}/wall.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: $screen-md) {
    background-image: url(#{$imgDir}/wall-min.jpg);
    // Trying to fix an iOS issue... kind of works
    background-attachment: scroll;
  }
}

.silver-bg {
  background-color: #bdc3c7;
}

.concrete-bg {
  background-color: $concrete;
}

.cloudy-bg {
  background-color: $cloudy;
}

.cloudy-alpha-bg {
  background-color: $cloudy-alpha;
}

.peach-text {
  color: $light-text-color;

  a:not(.btn) {
    color: darken($light-text-color, 15%);
  }
}

.cloudy-text {
  color: $cloudy;
}

section.ls-container {
  min-height: 30rem;

  & + & {
    -webkit-box-shadow: inset 0px 6px 13px 0px rgba(51,47,51,1);
    -moz-box-shadow: inset 0px 6px 13px 0px rgba(51,47,51,1);
    box-shadow: inset 0px 6px 13px 0px rgba(51,47,51,1);
  }
}

header.title-header {
  @extend .header-font;

  text-align: center;

  > h1 {
    margin-top: 0;
    letter-spacing: 0.1rem;
    @include responsive-font(10vw, 32px, 42px);
    padding-top: 2rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  > img {
    @media (min-width: 440px) {
      transform: scale(1.6);
    }
  }
}

#countdown-container header.title-header > h1 {
  @include responsive-font(8vw, 32px, 42px);
}

#intro-container {
  padding: 1rem 1.5rem 5rem;

  > header {
    text-align: center;

    > div:nth-child(1) {
      @include responsive-font(4vw, 16px, 20px);
    }

    > div:nth-child(2) {
      @include responsive-font(10vw, 38px, 52px);
    }

    > div:nth-child(3) {
      letter-spacing: 1.5px;
      @include responsive-font(6vw, 18px, 32px);
      margin-top: -1.2rem;
    }

    .small-ampersand {
      @include responsive-font(6vw, 12px, 26px);
    }
  }
}

.full-width-photo-container {
  padding: 0 1.5rem 0 1.5rem;
  margin: 3rem auto 0 auto;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: 670.4px) {
    width: 64.04rem;
  }
}

.wide-text-column {
  padding: 1rem 1rem;
  line-height: 1.55;
  word-wrap: break-word;
  font-size: 3.4vw;

  @media (min-width: 426px) {
    padding: 1rem 6.5%;
    font-size: 107%;
  }

  @media (min-width: 600px) {
    padding: 1rem 12.5%;
    font-size: 130.2%;
    line-height: 1.6;
  }

  @media (min-width: 880px) {
    padding: 1rem 20%;
    font-size: 138.2%;
  }

  @media (min-width: 1150px) {
    padding: 1rem 25%;
  }

  @media (min-width: 1340px) {
    padding: 1rem 27.5%;
    font-size: 2.2rem;
  }
}

.countdown-widget {
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  margin-top: 4rem;
  padding: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

  @media (min-width: $screen-md) {
    margin-top: 3rem;
  }

  li {
    display: inline-block;
    padding: 1rem;
    min-width: 7rem;

    @media (min-width: $screen-md) {
      min-width: 8rem;
    }
  }

  span.countdown-value {
    @extend .header-font;
    font-size: 3.8rem;
    letter-spacing: 2px;

    @media (min-width: $screen-md) {
      font-size: 4.2rem;
    }
  }

  span.countdown-unit {
    display: block;
    font-size: 1.8rem;

    @media (min-width: $screen-md) {
      font-size: 2.4rem;
    }
  }
}

.event-details-overview {
  text-align: center;
  margin-bottom: 2rem;

  p:nth-child(1) {
    font-size: 2.7rem;
    margin-bottom: 0.5rem;
  }

  p:nth-child(2) {
    font-size: 1.7rem;
  }
}

.event-details-column {
  min-height: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 40rem;

  > .info-block {
    @extend .cloudy-bg;
    @extend .paper-texture-bg;
    text-align: center;
    height: 100%;
    border-radius: 3px;
    padding-bottom: 1rem;

    > img {
      transform: scale(0.5);
      margin-top: -2rem;
    }

    > .info-block-header {
      margin-top: -2rem;

      > .type {
        font-weight: bold;
        font-size: 2.4rem;
        letter-spacing: 1px;
      }

      > .date {
        font-size: 1.7rem;
      }

      > .time {
        font-size: 1.4rem;
      }
    }

    > .info-block-body {
      p {
        white-space: pre-line;
        font-size: 1.3rem;

        @media (min-width: $screen-md) {
          font-size: 1.5rem;
        }
      }
    }


    @media (min-width: $screen-md) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @media (min-width: $screen-md) {
    padding-bottom: 0;
  }
}

#event-map-block {
  padding-left: 0;
  padding-right: 0;
}

.m-top-10 {
  margin-top: 1rem;

  @media (min-width: 600px) {
    margin-top: 1.5rem;
  }
}

.m-top-20 {
  margin-top: 2rem;

  @media (min-width: 600px) {
    margin-top: 2.5rem;
  }
}

.p-bottom-10 {
  padding-bottom: 1rem;
}

.p-bottom-20 {
  padding-bottom: 2rem;
}

.ls-btn {
  color: #fff;
  margin-top: 1.3rem;

  // I know I could probably use a mixin of sorts here, but I'm in a time crunch and still learning SASS :)
  &[data-type="ceremony"] {
    background-color: $ceremony-color;

    &:hover {
      background-color: darken($ceremony-color, 10%);
    }
  }

  &[data-type="reception"] {
    background-color: $reception-color;

    &:hover {
      background-color: darken($reception-color, 10%);
    }
  }

  &:active, &:hover, &:focus {
    color: #fff;
  }

  &.peach-btn {
    background-color: darken($light-text-color, 35%);

    &:hover {
      background-color: darken($light-text-color, 45%);
    }
  }
}

.registry-box {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;

  @media (min-width: $screen-lg) {
    font-size: 1.7rem;
  }

  .wrapper {
    padding: 2rem;
    position: relative;
    border-radius: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-transition: all .5s;
    transition: all .5s;

    @media (min-width: 500px) {
      padding: 2rem 4rem;
    }
  }

  .registry-thanks {
    font-weight: bold;
    font-size: 2rem;
  }

  &[data-type="logo"]:hover .wrapper {
    background-color: darken($cloudy-alpha, 10%);
  }
}

.registry-logo {
  width: 12rem;

  @media (min-width: $screen-md) {
    width: 14rem;
  }
}

#macys-logo {
  @media (min-width: $screen-md) {
    width: 16rem;
  }
}

#our-story-container p {
  margin-bottom: 2rem;
}
